html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    text-align: center;
    background-color: #92a3c9;
}


h1 {
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    color: #f7f8f2;
    font-style: italic;
    letter-spacing: 0.5rem;
    font-family: 'Playfair Display', serif;
}

.inputs {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    color: #f7f8f2;
}

button {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    margin: 0.8rem;
    padding-left,
    padding-right: 0.4rem;
    padding: 0.3rem;
    background-color: white;
    border: 0.03rem solid black;
    width: 8rem;
    height: 3rem;
}

#outputCard {
    background-color: white;
    border: 0.625rem solid #b6c3e1;
    border-radius: 5%;
    min-width: 5%;
    max-width: 100%;
    height: 40rem;
    width: 35rem;
    margin: 2rem;
    padding: 1.25rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}


.image {
    height: 15rem;
    align-items: center;
    margin: 1rem;
}